:root {
  --normal-blue: #379ae6;
  --hovered-blue: #197dca;
  --background-color: #fff;
  --secondary-background-color: #f8f9fa;
  --secondary-text-color: #6f7175;
  --secondary-hover-text-color: #0a0b0c;
  --font-family: 'Epilogue', sans-serif;
  --title-font-size: 36px;
  --sidebar-width: 220px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  display: flex;
}

.sidebar {
  width: var(--sidebar-width);
  background-color: var(--normal-blue);
  /* height: 110vh; */
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: width 0.3s ease-in-out;
}

.sidebar:hover {
  width: 250px;
}

.logo {
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  text-align: left;
  transition: color 0.3s ease-in-out;
}
.logo:hover {
  color: #244864;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: block;
  margin-bottom: 15px;
}

.dropbtn {
  background-color: var(--normal-blue);
  color: var(--background-color);
  padding: 12px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  /* border-radius: 5px; */
  transition: background-color 0.3s, transform 0.3s;
  font-weight: bold;
  border-bottom: 1px solid rgb(143, 196, 245);
  font-size: 24px;
}

.dropbtn:hover {
  background-color: var(--hovered-blue);
  transform: translateX(5px);
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: var(--normal-blue);
  z-index: 1;
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
  transition: opacity 0.3s;
  padding: 10px 0;
}

.dropdown-content button,
.log-out {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 5px;
  font-weight: bold;
}

.dropdown-content button:hover,
.log-out:hover {
  color: var(--secondary-hover-text-color);
  background-color: var(--hovered-blue);
  color: rgb(221, 221, 221);
  cursor: pointer;
}
.log-out {
  position: fixed;
  bottom: 0%;
  width: 15%;
  z-index: 111;
  font-weight: bold;
  font-size: 20px;
}
.dropdown.active .dropdown-content {
  display: block;
  opacity: 1;
}

button.active {
  background-color: var(--hovered-blue) !important;
  color: var(--background-color) !important;
}

.content {
  padding: 20px;
  width: calc(100% - var(--sidebar-width));
}

/* @media (max-width: 768px) {
  .content {
    padding: 20px;
    width: calc(100% - var(--sidebar-width));
  }
} */
/*  */
div.backBtn {
  width: 100px;
  background-color: transparent;
  transition: all 0.4s ease;
  position: relative;
  left: 86%;
  padding-bottom: 50px;
  cursor: pointer;
}

span.line {
  bottom: auto;
  right: auto;
  top: auto;
  left: auto;
  background-color: #379ae6;
  border-radius: 10px;
  width: 90%;
  left: 0px;
  height: 2px;
  display: block;
  position: absolute;
  transition: width 0.2s ease 0.1s, left 0.2s ease, transform 0.2s ease 0.3s,
    background-color 0.2s ease;
}

span.tLine {
  top: 0px;
}

span.mLine {
  top: 13px;
  opacity: 0;
}

span.bLine {
  top: 26px;
}

.label {
  position: absolute;
  left: 0px;
  top: 5px;
  width: 90%;
  text-align: center;
  transition: all 0.4s ease;
  font-size: 1em;
}

div.backBtn:hover span.label {
  left: 25px;
}

div.backBtn:hover span.line {
  left: -10px;
  height: 5px;
  background-color: #379ae6;
}

div.backBtn:hover span.tLine {
  width: 25px;
  transform: rotate(-45deg);
  left: -15px;
  top: 6px;
}

div.backBtn:hover span.mLine {
  opacity: 1;
  width: 30px;
}

div.backBtn:hover span.bLine {
  width: 25px;
  transform: rotate(45deg);
  left: -15px;
  top: 20px;
}
