:root {
  --normal-blue: #379ae6;
  --hovered-blue: #197dca;
  --background-color: #fff;
  --secondary-background-color: #f9f9f9;
  --secondary-text-color: #6f7175;
  --secondary-hover-text-color: #0a0b0c;
  --font-family: 'Epilogue', sans-serif;
  --title-font-size: 52px;
  --sidebar-width: 220px;
}
.track-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.btn {
  padding: 15px 30px;
  border-radius: 15px;
  background-color: var(--normal-blue);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  margin-top: 30px;
}
#stop-comp {
  padding: 15px 30px;
  border-radius: 15px;
  background-color: red;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  margin-top: 30px;
}

#start-comp:hover {
  background-color: var(--hovered-blue);
}
#stop-comp:hover {
  background-color: rgb(129, 0, 0);
}
.container {
  text-align: center;
  max-width: 900px;
  margin: auto;
  background: var(--background-color);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: scroll; /* Ensure the container can scroll if content overflows */
}

h1 {
  text-align: center;
  color: var(--secondary-hover-text-color);
  font-size: 32px;
}
h3 {
  margin-top: 10px;
}
#table-container {
  overflow: scroll;
  height: 59vh;
}
#table-container {
  overflow: scroll;
  height: 80vh;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 4px;
  overflow: scroll; /* Add overflow for scrolling */
  max-height: 500px; /* Set a maximum height for scroll */
}

/* thead {
  width: 100%;
  display: block;
} */

tbody {
  overflow-y: scroll;
  max-height: 300px;
}
::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

Track ::-webkit-scrollbar-track {
  background: var(--normal-blue);
}

::-webkit-scrollbar-thumb {
  background: var(--normal-blue);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hovered-blue);
}
td {
  padding-top: 10px;
  padding-bottom: 10px;
}
.right-answer {
  background-color: green;
  border-left: solid 1px;
  border-right: solid 1px;
  color: var(--secondary-background-color);
}
.wrong-answer {
  background-color: red;
  border-left: solid 1px;
  border-right: solid 1px;
  color: var(--secondary-background-color);
}
.not-solved {
  background-color: rgb(219, 219, 219);
  border-left: solid 1px;
  border-right: solid 1px;
  color: rgb(99, 82, 82);
}
tr {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 5px -5px;
}
tr td:first-child,
th:first-child {
  border-left: 1px solid #ddd;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
tr td:last-child,
th:last-child {
  border-right: 1px solid #ddd;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

th {
  background-color: var(--secondary-background-color);
}
th {
  padding: 20px;

  border: none;
}
