footer {
  background-color: var(--secondary-background-color);
  padding: 80px 0;
  height: fit-content;
}

footer .social-media {
  text-align: center;
  padding-bottom: 50px;
}

footer .social-media a {
  margin: 0 17px;
  display: inline-block;
}

footer .social-media img {
  width: 24px;
  height: 24px;
}
footer .social-media img {
  width: 40px;
  height: auto;
  transition: all 0.1s ease;
}

footer .social-media img:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: drop-shadow(2px 2px 2px gray);
}
footer .footer-nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 50px;
}
footer .footer-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer .footer-nav ul li a {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-weight: 500;
  text-align: center;
  transition: all 0.3s ease;
  font-size: 18px;
}

footer .footer-nav ul li a:hover {
  color: var(--secondary-hover-text-color);
}

footer .footer-logo {
  text-align: center;
  font-size: 29px;
  font-weight: bold;
}

footer .footer-info {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
footer .footer-info a {
  text-decoration: none;
  color: var(--secondary-text-color);
  transition: all 0.3s ease;
}
footer .footer-info a:hover {
  color: var(--secondary-hover-text-color);
}

footer hr {
  padding: 30px;
  border: 0;
  border-top: 1px solid #ddd;
  width: 100%;
  text-align: center;
}
@media (max-width: 768px) {
  main {
    padding: 50px 0;
  }

  main h1 {
    font-size: 24px;
  }

  footer .footer-nav ul {
    flex-direction: column;
    gap: 10px;
  }
}
