.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: var(--secondary-background-color);
  padding: var(--padding) 0;
  padding: 30px;
  transition: all 0.3s ease;
  height: 16%;
  position: fixed;
  width: 100%;
  z-index: 100;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 39px;
  font-weight: bold;
}
header .logo img {
  position: absolute;
  top: 0%;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  transition: all 0.3s ease;
}

header nav ul li a {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-size: 19px;
  transition: all 0.3s ease;
}
header nav ul li a:hover {
  color: var(--secondary-hover-text-color);
}
header .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

header .hamburger span {
  height: 3px;
  width: 25px;
  background-color: var(--secondary-text-color);
  margin-bottom: 5px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  header .container {
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;
    text-align: center;
    position: relative;
  }

  header nav ul {
    flex-direction: column;
    gap: 20px;
    display: none;
    opacity: 0;
    gap: 100px;
    text-align: center;
  }

  .active {
    display: flex;
    position: absolute;
    left: 50%;
    padding-top: 20px;
    gap: 50px;
    top: 100%;
    opacity: 1;
    text-align: center;
  }
  header .logo {
    font-size: 20px;
    font-weight: bold;
  }
  header .hamburger {
    display: flex;
  }
  header {
    height: 12%;
    transition: height 0.3s ease;
  }
  .active-header {
    height: 40%;
    transition: height 0.3s ease;
  }
}
